In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer

In [2]:
survey=pd.read_csv('global_power_plant_database.csv')

/tmp/ipython-input-3540312465.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  survey=pd.read_csv('global_power_plant_database.csv')

In [3]:
#Initial exploration of data
survey.head()

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,...,estimated_generation_gwh_2013,estimated_generation_gwh_2014,estimated_generation_gwh_2015,estimated_generation_gwh_2016,estimated_generation_gwh_2017,estimated_generation_note_2013,estimated_generation_note_2014,estimated_generation_note_2015,estimated_generation_note_2016,estimated_generation_note_2017
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,GEODB0040538,33.0,32.322,65.1190,Hydro,NaN,NaN,...,123.77,162.90,97.39,137.76,119.50,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
1,AFG,Afghanistan,Kandahar DOG,WKS0070144,10.0,31.670,65.7950,Solar,NaN,NaN,...,18.43,17.48,18.25,17.70,18.29,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
2,AFG,Afghanistan,Kandahar JOL,WKS0071196,10.0,31.623,65.7920,Solar,NaN,NaN,...,18.64,17.58,19.10,17.62,18.72,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE,SOLAR-V1-NO-AGE
3,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,GEODB0040541,66.0,34.556,69.4787,Hydro,NaN,NaN,...,225.06,203.55,146.90,230.18,174.91,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1
4,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,GEODB0040534,100.0,34.641,69.7170,Hydro,NaN,NaN,...,406.16,357.22,270.99,395.38,350.80,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1,HYDRO-V1

In [4]:
survey.shape

(34936, 36)

In [5]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34936 entries, 0 to 34935
Data columns (total 36 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country                         34936 non-null  object
 1   country_long                    34936 non-null  object
 2   name                            34936 non-null  object
 3   gppd_idnr                       34936 non-null  object
 4   capacity_mw                     34936 non-null  float64
 5   latitude                        34936 non-null  float64
 6   longitude                       34936 non-null  float64
 7   primary_fuel                    34936 non-null  object
 8   other_fuel1                     1944 non-null   object
 9   other_fuel2                     276 non-null    object
 10  other_fuel3                     92 non-null     object
 11  commissioning_year              17447 non-null  float64
 12  owner                           20868 non-null  object
 13  source                          34921 non-null  object
 14  url                             34918 non-null  object
 15  geolocation_source              34517 non-null  object
 16  wepp_id                         16234 non-null  object
 17  year_of_capacity_data           14887 non-null  float64
 18  generation_gwh_2013             6417 non-null   float64
 19  generation_gwh_2014             7226 non-null   float64
 20  generation_gwh_2015             8203 non-null   float64
 21  generation_gwh_2016             9144 non-null   float64
 22  generation_gwh_2017             9500 non-null   float64
 23  generation_gwh_2018             9637 non-null   float64
 24  generation_gwh_2019             9659 non-null   float64
 25  generation_data_source          11400 non-null  object
 26  estimated_generation_gwh_2013   16120 non-null  float64
 27  estimated_generation_gwh_2014   16503 non-null  float64
 28  estimated_generation_gwh_2015   17050 non-null  float64
 29  estimated_generation_gwh_2016   17570 non-null  float64
 30  estimated_generation_gwh_2017   33138 non-null  float64
 31  estimated_generation_note_2013  34936 non-null  object
 32  estimated_generation_note_2014  34936 non-null  object
 33  estimated_generation_note_2015  34936 non-null  object
 34  estimated_generation_note_2016  34936 non-null  object
 35  estimated_generation_note_2017  34936 non-null  object
dtypes: float64(17), object(19)
memory usage: 9.6+ MB

In [6]:
survey.describe()

,capacity_mw,latitude,longitude,commissioning_year,year_of_capacity_data,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018,generation_gwh_2019,estimated_generation_gwh_2013,estimated_generation_gwh_2014,estimated_generation_gwh_2015,estimated_generation_gwh_2016,estimated_generation_gwh_2017
count,34936.000000,34936.000000,34936.000000,17447.000000,14887.000000,6417.000000,7226.000000,8203.000000,9144.000000,9500.000000,9637.000000,9659.000000,16120.000000,16503.000000,17050.000000,17570.000000,33138.000000
mean,163.355148,32.816637,-6.972803,1997.414823,2018.218849,592.696107,656.863891,762.368840,693.149763,661.834161,517.320785,423.922436,239.112221,242.431122,235.866067,235.695265,716.443378
std,489.636072,22.638603,78.405850,23.397835,1.606428,2174.833482,2231.464288,2533.459828,2404.516759,2369.296957,1975.302686,1698.506485,1191.258172,1285.798297,1267.005223,1259.559841,2484.361200
min,1.000000,-77.847000,-179.977700,1896.000000,2000.000000,-947.600000,-989.619000,-864.428000,-768.620000,-934.944000,-982.622000,-780.339000,1.120000,0.870000,0.440000,0.300000,0.000000
25%,4.900000,29.256475,-77.641550,1988.000000,2017.000000,1.947000,2.260000,2.664500,2.729000,2.467000,2.242000,2.751500,8.620000,8.680000,8.380000,8.322500,8.180000
50%,16.745000,39.727750,-2.127100,2007.000000,2019.000000,23.426000,23.608500,26.142000,22.462389,17.876500,12.530000,11.530000,27.620000,28.250000,26.830000,27.555000,37.590000
75%,75.344250,46.263125,49.502675,2014.000000,2019.000000,199.706000,226.322250,285.862583,249.866750,214.505150,151.117000,122.781498,106.805000,106.980000,103.120000,107.237500,229.565000
max,22500.000000,71.292000,179.388700,2020.000000,2019.000000,50834.000000,32320.917000,37433.607000,32377.477000,36448.643000,35136.000000,31920.368000,48675.060000,58470.770000,57113.350000,60859.730000,82810.770000

In [7]:
survey.columns

Index(['country', 'country_long', 'name', 'gppd_idnr', 'capacity_mw',
       'latitude', 'longitude', 'primary_fuel', 'other_fuel1', 'other_fuel2',
       'other_fuel3', 'commissioning_year', 'owner', 'source', 'url',
       'geolocation_source', 'wepp_id', 'year_of_capacity_data',
       'generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015',
       'generation_gwh_2016', 'generation_gwh_2017', 'generation_gwh_2018',
       'generation_gwh_2019', 'generation_data_source',
       'estimated_generation_gwh_2013', 'estimated_generation_gwh_2014',
       'estimated_generation_gwh_2015', 'estimated_generation_gwh_2016',
       'estimated_generation_gwh_2017', 'estimated_generation_note_2013',
       'estimated_generation_note_2014', 'estimated_generation_note_2015',
       'estimated_generation_note_2016', 'estimated_generation_note_2017'],
      dtype='object')

In [8]:
#We checks for duplicates
print(survey.duplicated().sum())
# we see that we dont have any duplicated rows

0

In [9]:
#first we create a copy of our survey
survey_copy=survey.copy()

In [10]:
#We check for missing values
missing_values=survey.isnull().sum()
missing_percentage=(missing_values/len(survey))*100
newDf=pd.DataFrame({'Missing Values':missing_values,'Missing Percentage':missing_percentage})

print("superieur a 50",newDf[newDf["Missing Percentage"]>50])
print("entre 5 et 50 ",newDf[(newDf["Missing Percentage"]<50) & (newDf["Missing Percentage"]>5)])

print("inferieur a 5",newDf[(newDf["Missing Percentage"]<5)& (newDf["Missing Percentage"]>0)])

superieur a 50                                Missing Values  Missing Percentage
other_fuel1                             32992           94.435539
other_fuel2                             34660           99.209984
other_fuel3                             34844           99.736661
commissioning_year                      17489           50.060110
wepp_id                                 18702           53.532173
year_of_capacity_data                   20049           57.387795
generation_gwh_2013                     28519           81.632127
generation_gwh_2014                     27710           79.316464
generation_gwh_2015                     26733           76.519922
generation_gwh_2016                     25792           73.826425
generation_gwh_2017                     25436           72.807419
generation_gwh_2018                     25299           72.415274
generation_gwh_2019                     25277           72.352301
generation_data_source                  23536           67.368903
estimated_generation_gwh_2013           18816           53.858484
estimated_generation_gwh_2014           18433           52.762194
estimated_generation_gwh_2015           17886           51.196474
entre 5 et 50                                 Missing Values  Missing Percentage
owner                                   14068           40.267918
estimated_generation_gwh_2016           17366           49.708038
estimated_generation_gwh_2017            1798            5.146554
inferieur a 5                     Missing Values  Missing Percentage
source                          15            0.042936
url                             18            0.051523
geolocation_source             419            1.199336

In [11]:
#deals with columns that have more than 50% of missign values drop the columns
survey_copy = survey_copy.drop("other_fuel1", axis='columns')
survey_copy = survey_copy.drop("other_fuel2", axis='columns')
survey_copy = survey_copy.drop("other_fuel3", axis='columns')
survey_copy = survey_copy.drop("wepp_id", axis='columns')
survey_copy = survey_copy.drop("generation_data_source", axis='columns')
survey_copy = survey_copy.drop("owner", axis='columns')
commissioning_year_imputer = SimpleImputer(strategy='median')
survey_copy['commissioning_year'] = commissioning_year_imputer.fit_transform(survey_copy[['commissioning_year']])

year_of_capacity_data_imputer = SimpleImputer(strategy='median')
survey_copy['year_of_capacity_data'] = year_of_capacity_data_imputer.fit_transform(survey_copy[['year_of_capacity_data']])

generation_gwh_2013_imputer = SimpleImputer(strategy='median')
survey_copy['generation_gwh_2013'] = generation_gwh_2013_imputer.fit_transform(survey_copy[['generation_gwh_2013']])
generation_gwh_2014_imputer = SimpleImputer(strategy='median')
survey_copy['generation_gwh_2014'] = generation_gwh_2014_imputer.fit_transform(survey_copy[['generation_gwh_2014']])
generation_gwh_2015_imputer = SimpleImputer(strategy='median')
survey_copy['generation_gwh_2015'] = generation_gwh_2015_imputer.fit_transform(survey_copy[['generation_gwh_2015']])
generation_gwh_2016_imputer = SimpleImputer(strategy='median')
survey_copy['generation_gwh_2016'] = generation_gwh_2016_imputer.fit_transform(survey_copy[['generation_gwh_2016']])
generation_gwh_2017_imputer = SimpleImputer(strategy='median')
survey_copy['generation_gwh_2017'] = generation_gwh_2017_imputer.fit_transform(survey_copy[['generation_gwh_2017']])
generation_gwh_2018_imputer = SimpleImputer(strategy='median')
survey_copy['generation_gwh_2018'] = generation_gwh_2018_imputer.fit_transform(survey_copy[['generation_gwh_2018']])
generation_gwh_2019_imputer = SimpleImputer(strategy='median')
survey_copy['generation_gwh_2019'] = generation_gwh_2019_imputer.fit_transform(survey_copy[['generation_gwh_2019']])
estimated_generation_gwh_2013_imputer = SimpleImputer(strategy='median')
survey_copy['estimated_generation_gwh_2013'] = estimated_generation_gwh_2013_imputer.fit_transform(survey_copy[['estimated_generation_gwh_2013']])
estimated_generation_gwh_2014_imputer = SimpleImputer(strategy='median')
survey_copy['estimated_generation_gwh_2014'] = estimated_generation_gwh_2014_imputer.fit_transform(survey_copy[['estimated_generation_gwh_2014']])
estimated_generation_gwh_2015_imputer = SimpleImputer(strategy='median')
survey_copy['estimated_generation_gwh_2015'] = estimated_generation_gwh_2015_imputer.fit_transform(survey_copy[['estimated_generation_gwh_2015']])
estimated_generation_gwh_2016_imputer = SimpleImputer(strategy='median')
survey_copy['estimated_generation_gwh_2016'] = estimated_generation_gwh_2016_imputer.fit_transform(survey_copy[['estimated_generation_gwh_2016']])
estimated_generation_gwh_2017_imputer = SimpleImputer(strategy='median')
survey_copy['estimated_generation_gwh_2017'] = estimated_generation_gwh_2017_imputer.fit_transform(survey_copy[['estimated_generation_gwh_2017']])

In [12]:
#deals with columns that have less than 5% of missign values we drop the rows
survey_copy.dropna(inplace=True)

#We check for missing values
missing_values=survey_copy.isnull().sum()
print(missing_values)
#

country                           0
country_long                      0
name                              0
gppd_idnr                         0
capacity_mw                       0
latitude                          0
longitude                         0
primary_fuel                      0
commissioning_year                0
source                            0
url                               0
geolocation_source                0
year_of_capacity_data             0
generation_gwh_2013               0
generation_gwh_2014               0
generation_gwh_2015               0
generation_gwh_2016               0
generation_gwh_2017               0
generation_gwh_2018               0
generation_gwh_2019               0
estimated_generation_gwh_2013     0
estimated_generation_gwh_2014     0
estimated_generation_gwh_2015     0
estimated_generation_gwh_2016     0
estimated_generation_gwh_2017     0
estimated_generation_note_2013    0
estimated_generation_note_2014    0
estimated_generation_note_2015    0
estimated_generation_note_2016    0
estimated_generation_note_2017    0
dtype: int64

In [13]:
survey_copy['commissioning_year'] = survey_copy['commissioning_year'].astype(int)

In [14]:
survey_copy.describe()

,capacity_mw,latitude,longitude,commissioning_year,year_of_capacity_data,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018,generation_gwh_2019,estimated_generation_gwh_2013,estimated_generation_gwh_2014,estimated_generation_gwh_2015,estimated_generation_gwh_2016,estimated_generation_gwh_2017
count,34499.000000,34499.000000,34499.000000,34499.000000,34499.000000,34499.000000,34499.000000,34499.000000,34499.000000,34499.000000,34499.000000,34499.000000,34499.000000,34499.000000,34499.000000,34499.000000,34499.000000
mean,156.748890,32.795941,-8.386190,2002.158526,2018.662918,129.313309,156.247227,201.198343,200.228856,195.175267,153.538980,126.991275,113.184032,113.522784,113.560248,114.893280,657.568130
std,457.995421,22.763567,77.833691,17.317164,1.123937,963.713237,1053.213090,1274.455589,1272.772837,1276.096932,1068.249341,917.574750,729.464809,761.926547,774.122070,755.113163,2321.017584
min,1.000000,-77.847000,-179.977700,1896.000000,2000.000000,-947.600000,-989.619000,-864.428000,-768.620000,-934.944000,-982.622000,-780.339000,1.120000,0.870000,0.440000,0.300000,0.000000
25%,4.800000,29.286000,-77.974750,2007.000000,2019.000000,23.426000,23.608500,26.142000,22.462389,17.876500,12.530000,11.530000,27.620000,28.250000,26.830000,26.375000,8.790000
50%,16.000000,39.784400,-2.424000,2007.000000,2019.000000,23.426000,23.608500,26.142000,22.462389,17.876500,12.530000,11.530000,27.620000,28.250000,26.830000,27.555000,37.590000
75%,72.850000,46.364450,40.236350,2007.000000,2019.000000,23.426000,23.608500,26.142000,22.462389,17.876500,12.530000,11.530000,27.620000,28.250000,26.830000,27.555000,184.990000
max,13050.000000,71.292000,179.388700,2020.000000,2019.000000,50834.000000,32320.917000,37433.607000,32377.477000,36448.643000,35136.000000,31920.368000,48675.060000,58470.770000,57113.350000,60859.730000,65600.320000

In [15]:
survey_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34499 entries, 0 to 34935
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country                         34499 non-null  object
 1   country_long                    34499 non-null  object
 2   name                            34499 non-null  object
 3   gppd_idnr                       34499 non-null  object
 4   capacity_mw                     34499 non-null  float64
 5   latitude                        34499 non-null  float64
 6   longitude                       34499 non-null  float64
 7   primary_fuel                    34499 non-null  object
 8   commissioning_year              34499 non-null  int64
 9   source                          34499 non-null  object
 10  url                             34499 non-null  object
 11  geolocation_source              34499 non-null  object
 12  year_of_capacity_data           34499 non-null  float64
 13  generation_gwh_2013             34499 non-null  float64
 14  generation_gwh_2014             34499 non-null  float64
 15  generation_gwh_2015             34499 non-null  float64
 16  generation_gwh_2016             34499 non-null  float64
 17  generation_gwh_2017             34499 non-null  float64
 18  generation_gwh_2018             34499 non-null  float64
 19  generation_gwh_2019             34499 non-null  float64
 20  estimated_generation_gwh_2013   34499 non-null  float64
 21  estimated_generation_gwh_2014   34499 non-null  float64
 22  estimated_generation_gwh_2015   34499 non-null  float64
 23  estimated_generation_gwh_2016   34499 non-null  float64
 24  estimated_generation_gwh_2017   34499 non-null  float64
 25  estimated_generation_note_2013  34499 non-null  object
 26  estimated_generation_note_2014  34499 non-null  object
 27  estimated_generation_note_2015  34499 non-null  object
 28  estimated_generation_note_2016  34499 non-null  object
 29  estimated_generation_note_2017  34499 non-null  object
dtypes: float64(16), int64(1), object(13)
memory usage: 8.2+ MB

In [16]:
#check the differents fuel type
primary_fuel_unique = survey_copy['primary_fuel'].unique()
for fuel in primary_fuel_unique:
    data = survey_copy[survey_copy['primary_fuel'] == fuel]['capacity_mw'].values  # .values â†’ tableau NumPy
    print(f"{fuel}: {np.mean(data)} ")

Hydro: 123.35871278604118
Solar: 17.585400614874466
Gas: 364.76176075229597
Other: 84.02000000000001
Oil: 112.54847067732183
Wind: 47.63526715314632
Nuclear: 2056.6508695652174
Coal: 843.8432802060971
Waste: 13.809657303370786
Biomass: 23.97293818181818
Wave and Tidal: 55.220000000000006
Petcoke: 202.048125
Geothermal: 67.13095238095238
Storage: 12.683703703703703
Cogeneration: 98.73170731707319

In [17]:
from scipy import stats
primary_fuel_unique = survey_copy['primary_fuel'].unique()
solar=survey_copy[survey_copy['primary_fuel']=="Solar"]['capacity_mw'].values
hydro=survey_copy[survey_copy['primary_fuel']=="Hydro"]['capacity_mw'].values
#hypothese is both have the same average capacity
t_statistic, p_value = stats.ttest_ind(solar, hydro)

# Interpreting the result
alpha = 0.05  # Significance level
if p_value < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the  hypothesis")

Reject the null hypothesis

In [24]:
years = survey_copy['commissioning_year'].values

before_2000 = survey_copy[survey_copy['commissioning_year'] < 2000]['capacity_mw'].values
after_2000 = survey_copy[survey_copy['commissioning_year'] >= 2000]['capacity_mw'].values

print(f"Avant 2000 - moyenne: {np.mean(before_2000):.2f} MW")
print(f"AprÃ¨s 2000 - moyenne: {np.mean(after_2000):.2f} MW")

Avant 2000 - moyenne: 247.86 MW
AprÃ¨s 2000 - moyenne: 136.63 MW